// Custom CSS for RNA Systems Biology Lab Website

// .fct-div {
//     display: flex;
//   }
//   #fct {
//     height: 50px;
//   }

// Light and dark mode only classes
.dark .light_only {
    display: none;
}

body:not(.dark) .dark_only {
    display: none;
}

// Footer logos
.logosContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
 }


.footer-logo {
  height: 3rem;
}

.logo-container {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 767.98px) {

  // .logosContainer {
  //   width: 100%;
  // }

  .logo-container {
    height: 1em;
    margin-left: 20px;
    margin-right: 20px;
  }
}
  
