<br>
<!-- <div class="fct-div">
<span>
  <img id="fct" src="/img/fct.png" alt="FCT - Fundação para a Ciência e Tecnologia">
</span>
<span>
  <p>With funding provided by the <a href="https://fct.pt/en/">Foundation for Science and Technology</a>.</p>
</span>
</div> -->

<div class="logosContainer light_only">
  <!-- Light mode logos (full colour)-->
  <span class="logo-container">
    <a href="https://www.ulisboa.pt/en" target="_blank">
      <img class="footer-logo logo-ulisboa" src="/img/logo/ulisboa_black.webp" alt="ULisboa logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="https://ciencias.ulisboa.pt/en" target="_blank">
      <img class="footer-logo logo-ciencias" src="/img/logo/ciencias_ulisboa_blue.webp" alt="Ciências ULisboa logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="https://bioisi.pt" target="_blank">
      <img class="footer-logo logo-bioisi" src="/img/logo/bioisi_colour.webp" alt="BioISI - Biosystems and Integrative Sciences Institute logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="/">
      <img class="footer-logo logo-rnasysbio" src="/img/logo/rnasysbio_colour.webp" alt="RNA Systems Biology logo">
    </a>
  </span>
</div>
<div class="logosContainer dark_only">
  <!-- Dark mode logos (full colour)-->
  <span class="logo-container">
    <a href="https://www.ulisboa.pt/en" target="_blank">
      <img class="footer-logo logo-ulisboa" src="/img/logo/ulisboa_white.webp" alt="ULisboa logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="https://ciencias.ulisboa.pt/en" target="_blank">
      <img class="footer-logo logo-ciencias" src="/img/logo/ciencias_ulisboa_white.webp" alt="Ciências ULisboa logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="https://bioisi.pt" target="_blank">
      <img class="footer-logo logo-bioisi" src="/img/logo/bioisi_white.webp" alt="BioISI - Biosystems and Integrative Sciences Institute logo">
    </a>
  </span>
  <span class="logo-container">
    <a href="/">
      <img class="footer-logo logo-rnasysbio" src="/img/logo/rnasysbio_white.webp" alt="RNA Systems Biology logo">
    </a>
  </span>
</div>
